<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="wiseoper" parallel="tests" thread-count="2">
    <listeners>
        <listener class-name="utility.CustomListener" />
    </listeners>
    <test name="Chrome">
        <parameter name="browserType" value="chrome" />
        <parameter name="appURL" value="https://www.findx.com/"/>
        <classes>
            <class name="test.MainPageTest"/>
        </classes>
    </test>
</suite>